@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&family=Montserrat:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Fraunces:opsz,wght@9..144,700&family=Lexend+Deca&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    font-size: 14px;
    --Very-dark-blue: hsl(212, 21%, 14%);
    --Dark-grayish-blue: hsl(228, 12%, 48%);
    --White: hsl(0, 0%, 100%);
    --Dark-cyan: hsl(158, 36%, 37%);
    --Cream: hsl(30, 38%, 92%);
}

html,
body {
    min-height: 100vh;
}

body {

    background-color: hsl(30, 38%, 92%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;

}

.main {

    background-color: white;
    box-shadow: 20px 20px 30px;
    color: var(--Dark-cyan);
    width: 640px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "img data"
        "img data"
        "img data"
        "img data";

    border-radius: 15px;
    margin: 1rem;

}

.product {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    gap: 35px;
    grid-area: data;
}

.product__img {
    width: 100%;
    height: 100%;
    grid-area: img;
    object-fit: cover;
    border-radius: 15px 0px 0px 15px;
}

.product__type {

    letter-spacing: 9px;
    font-weight: 500;
    color: var(--Dark-grayish-blue);
}

.product__title {
    font-family: 'Fraunces', serif;
    font-weight: 700;
    font-size: 2.5rem;

    color: var(--Very-dark-blue);
}

.product__paragraph {
    color: var(--Dark-grayish-blue);
    line-height: 1.8;
    font-weight: 500;
    font-size: 1rem;

}

.product__prices {

    padding-right: 15%;
    display: flex;
    width: 100%;
    align-items: center;
    font-family: 'Fraunces', serif;
}

.product__newprice {
    font-size: 2.5rem;
    color: var(--Dark-cyan);
    padding-right: 20px;
}

.product__oldprice {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: var(--Dark-cyan);
    text-decoration: line-through;
}

.product__btn {

    background-color: var(--Dark-cyan);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    gap: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.product__btn:hover {
    background-color: var(--Very-dark-blue);
}

.btn {
    text-decoration: none;
    color: white;
    font-weight: 700;
}

@media (max-width: 600px) {
    .main {
        min-width: 280px;
        width: 375px;
        grid-template-areas:
            "img img"
            "img img"
            "data data"
            "data data";

    }

    .product__img {
        border-radius: 15px 15px 0px 0px;
        width: 100%;

    }


}